@model NET.Core.V2_2.Models.FTP_FileGroup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FTP_FileGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTP_Page)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTP_Page.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FGId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
