@model IEnumerable<NET.Core.V2_2.Models.SYS_Navbar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is_Stop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Father)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Controller)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sort)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Is_Stop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Father.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @*|
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
            @foreach (var arr in item.Childs)
            {
                <tr>
                    <td>
                        | &nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(modelItem => arr.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => arr.Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => arr.Action)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => arr.Controller)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => arr.Sort)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => arr.Is_Stop)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => arr.Father.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@arr.Id">Edit</a> @*|
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
