@model NET.Core.V2_2.Models.SYS_Emp

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SYS_Emp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SYS_Dept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SYS_Dept.Dept_Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Emp_Code">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
